<!DOCTYPE html>

<head>
    <title>Coronavirus tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Coronavirus Tracker Application</h1>
    <p>This application lists current numbers of Covid-19 cases reported accross the globe</p>
    <p th:text="${testName}"></p>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
        <p>
            <span>Total number of cases increased from previous day : </span>
            <span th:text="${totalCountPerDay}"></span>
        </p>

    </div>

    <table class="table">
        <tr>
            <th>COUNTRY</th>
            <th>STATE</th>
            <th>TOTAL_CASES</th>
            <th>PER_DAY_COUNT</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.totalCount}"></td>
            <td th:text="${locationStat.perDayCount}">0</td>
        </tr>
    </table>
</div>
</body>

</html>